<poke-header></poke-header>

<main>
    <!-- <ng-template [ngIf]="!isLoading && !apiError">
        <img class="laoderpikachu" src="assets/pikachu.gif">
        <div class="loading-spinner">
            <div class="loading-spinner-inner">
                <div class="loading-spinner-circle"></div>
                <div class="loading-spinner-circle"></div>
                <div class="loading-spinner-circle"></div>
                <div class="loading-spinner-circle"></div>
                <div class="loading-spinner-circle"></div>
            </div>
        </div>
    </ng-template> -->

    <ng-template [ngIf]="isLoading">
        <div class="nomePokemon">
            <h1 class="fadeInDown">{{pokemonDetalhes[1].names[0].name}}</h1>
            <h2 class="fadeInDown">{{pokemonDetalhes[0].name}}</h2>
        </div>

        <section class="cardPokemon fadeIn">
            <div class="header-card">
                <img class="fadeInDown" [src]="pokemonDetalhes[0].sprites.other.dream_world.front_default" alt="pokemonDetalhes[0].name">
            </div>
            <h1 [ngStyle]="{'color': coresPokemon}">Estatisticas:</h1>
            <ul>
                <li *ngFor="let value of pokemonDetalhes[0].stats">
                    <b>{{value.stat.name | uppercase}}</b>
                    <b>{{value.base_stat}}</b>
                </li>
            </ul>
            <a [ngStyle]="{'background-color': coresPokemon}" routerLink="" class="btn">Voltar</a>
        </section>
    </ng-template>

    <ng-template [ngIf]="apiError">
        <div class="error">
            <h1 class="error-title">Nossa pokedex parou <b>:c</b></h1>
            <img class="error-svg"src="assets/svgPoke.svg">
        </div>
    </ng-template>
</main>
